<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="default-src 'self' https://www.youtube-nocookie.com https://www.youtube.com https://i.ytimg.com; script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk=' https://www.youtube.com https://s.ytimg.com; frame-src https://www.youtube.com https://www.youtube-nocookie.com; img-src 'self' data: https:; style-src 'self' 'unsafe-inline' https://www.youtube.com; media-src https: blob:; connect-src https:;"/>
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        /* Masquer toutes les scrollbars globalement */
        * {
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE and Edge */
        }
        
        *::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
            width: 0;
            height: 0;
        }

            body {
                background: #171614;
                background-size: cover;
                transition: background-image 1s ease;
                -webkit-user-select: none;
                overflow: hidden;
            }
        #main {
            display: none;
            height: calc(100% - 22px);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
</head>
<body bkid="<%=bkid%>">
    <%- include('frame') %>
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
        <img id="loadingLogo" src="assets/images/LoadingSeal.png" alt="Loading...">
        <div id="loadingBarWrapper">
            <div id="loadingBarFill"></div>
        </div>
    </div>
</body>
</html>